<%- model_class = Book -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_for books_path, method: 'get' do  %>
  <p> <%= text_field_tag :search, params[:search] %> <%= check_box_tag 'title_only', 'yes', false %> Title only <%= submit_tag "Search", name: nil %> </p>

  <!-- <p><%#= check_box_tag 'physical', 'yes', false %> Only Physical books</p> -->
  <p><%= radio_button_tag 'physical', 'yes', false %> Physical only formats
  <%= radio_button_tag 'physical', 'no', false %> Digital only formats</p>
  <%= collection_check_boxes(:book, :book_format_type_ids, BookFormatType.all, :id, :name) do |b| %>
    <%= b.check_box %>
    <%= b.label %>
  <% end %>
<% end %>

<%= render 'list' %>
