<%- model_class = Book -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_for books_path, method: 'get' do  %>
  <p> <%= text_field_tag :search, params[:search] %> <%= check_box_tag 'title_only', 'yes', false %> Title only <%= submit_tag "Search", name: nil %> </p>

  <!-- <p><%#= check_box_tag 'physical', 'yes', false %> Only Physical books</p> -->
  <p><%= radio_button_tag 'physical', 'yes', false %> Physical only formats
  <%= radio_button_tag 'physical', 'no', false %> Digital only formats</p>
  <%= collection_check_boxes(:book, :book_format_type_ids, BookFormatType.all, :id, :name) do |b| %>
    <%= b.check_box %>
    <%= b.label %>
  <% end %>


  <%#= collection_check_boxes :book_format_type_ids, BookFormatType.all, :id, :name do |b| %>
  <!-- <div class="collection-check-box">
    <%#= b.check_box %>
    <%#= b.label %>
  </div> -->
  <%# end %>
<% end %>



<%= will_paginate @books %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:publisher_id) %></th>
      <th><%= model_class.human_attribute_name(:author_id) %></th>
      <th><%= model_class.human_attribute_name(:genre_id) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.publisher.name %></td>
        <td><%= book.author.name %></td>
        <td><%= book.genre.name %></td>
        <td><%= book.average_rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>
