<%- model_class = Book -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_for @book do |f| %>
  <p> <%= f.text_field :title %> <%= f.submit "Search" %> </p>
<% end %>

<%= will_paginate @books %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:publisher_id) %></th>
      <th><%= model_class.human_attribute_name(:author_id) %></th>
      <th><%= model_class.human_attribute_name(:genre_id) %></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.publisher.name %></td>
        <td><%= book.author.name %></td>
        <td><%= book.genre.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
